/* ╨▓╨╜╨╡╤И╨╜╨╕╨╣ ╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╤Б ╨║╨╜╨╛╨┐╨║╨░╨╝╨╕ */

.pwal_container {
  padding: 10px 0px 20px;
  margin: 20px auto 30px;
  text-align: center;
  height: auto;
  width: auto;
}

/* ╨╖╨░╨│╨╛╨╗╨╛╨▓╨╛╨║ ╨▒╨╗╨╛╨║╨░ ╤Б ╨║╨╜╨╛╨┐╨║╨░╨╝╨╕ */

.pwal_description {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto 5px;
  padding: 3px 10px 4px;
  color: #ffffff;
  border: 1px solid #559AE1;
  border-radius: 5px;
  height: auto;
  width: auto;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B7F6', endColorstr='#559AE1');

  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#79B7F6), to(#559AE1));

  /* for webkit browsers */
  background: -moz-linear-gradient(top, #79B7F6, #559AE1);

  /* for firefox 3.6+ */
  background: -o-linear-gradient(top, #79B7F6, #559AE1);

  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #79B7F6, #559AE1);

  /* IE10+ */
}

/* ╨▓╨╜╤Г╤В╤А╨╡╨╜╨╜╨╕╨╣ ╨▒╨╗╨╛╨║ ╤Б ╨║╨╜╨╛╨┐╨║╨░╨╝╨╕ */

.pwal_buttons_box {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: auto;
  height: auto;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  /* ╨Ф╨╗╤П Firefox */
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  /* ╨Ф╨╗╤П Safari ╨╕ Chrome */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  /* ╨Я╨░╤А╨░╨╝╨╡╤В╤А╤Л ╤В╨╡╨╜╨╕ */
}

/* ╨Х╤Б╨╗╨╕ ╨Т╤Л ╤Е╨╛╤В╨╕╤В╨╡, ╤З╤В╨╛╨▒╤Л ╨Т╨░╤И╨╕ ╨┐╨╛╤Б╨╡╤В╨╕╤В╨╡╨╗╨╕ ╨╝╨╛╨│╨╗╨╕ ╨╛╤Б╤В╨░╨▓╨╗╤П╤В╤М ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╕ ╨▓ Facebook, ╤Г╨┤╨░╨╗╨╕╤В╨╡ ╤Н╤В╨╛ ╨┐╤А╨░╨▓╨╕╨╗╨╛.
╨Т╨╛╨╖╨╝╨╛╨╢╨╜╨╛, ╨┤╨╗╤П ╨║╨╛╤А╤А╨╡╨║╤В╨╜╨╛╨│╨╛ ╨╛╤В╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П, ╨Т╨░╨╝ ╤В╨░╨║╨╢╨╡ ╨┐╤А╨╕╨┤╨╡╤В╤Б╤П ╨▓╨╜╨╡╤Б╤В╨╕ ╨╕╨╖╨╝╨╡╨╜╨╡╨╜╨╕╤П ╨╕ ╨▓ ╨┤╤А╤Г╨│╨╕╨╡ css-╨┐╤А╨░╨▓╨╕╨╗╨░ */

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
  display: none !important;
}
