/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li{
  display: block;
  position:relative;
 }
 .slicknav_nav > li{border-bottom:1px solid #5f565f;}
 .slicknav_nav ul li{border-top:1px solid #5f565f;}
.slicknav_nav .slicknav_arrow{
  height:20px;
  width:20px;
  border:1px solid #fff;
  -webkit-border-radius:50%;  -moz-border-radius:50%; border-radius:50%;
  position:absolute;
  text-indent:-9999px;
  top:16px;
  right:42px;
}
.slicknav_nav .slicknav_arrow:after{
  content:'';
  position:absolute;
  top:7px;
  left:5px;
  width:0;
  height:0;
    border-left:4px solid transparent;
  border-right:4px solid transparent;
    border-top:4px solid #fff;
  border-bottom:0;

}
.slicknav_nav .slicknav_open .slicknav_arrow:after{
  border-top: 0;
    border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-bottom:4px solid #fff;
}
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/*
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
  font-size:16px;
}
/* Button */
.slicknav_btn {
  text-decoration:none;
  background:url(..../img/btn-menu.png) no-repeat;
  width:48px;
  height:25px;
  padding:8px 0;
  right:20px;
  position:absolute;
}
.slicknav_icon{display:none;}
.slicknav_btn:hover,
.slicknav_btn:active{background-position:0 -41px;}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
  background:url(../img/corner-menu.png) no-repeat;
  background-size:100% auto;
  font-size:20px;
  line-height:24px;
  border-top:1px solid #8a859c;
}
.slicknav_nav {
  color:#fff;
  margin:0;
  padding:0;
  font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
  list-style: none;
  overflow:hidden;
}
.slicknav_nav ul {
  padding:0;
  margin:0;
}
.slicknav_nav a{
  padding:15px 52px 9px;
  text-decoration:none;
  color:#fff;
}
.slicknav_nav .slicknav_item a {
  padding:0;
  margin:0;
}
.slicknav_nav .slicknav_item:hover {
  background:#313742;
  color:#fff;
  text-decoration:none;
}
.slicknav_nav a:hover{
  background:#313742;
  color:#fff;
  text-decoration:none;
}
.slicknav_nav a:focus{
  text-decoration:none;
  color:#fff;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;
}
